<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bio Technology</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./static/styles/home.css">
	<link rel="stylesheet" type="text/css" href="./static/styles/styles.css">

	<style>
		/* Make the image fully responsive*/
		.carousel-inner img {
			width: 200%;
			height: 200%;
		}

		.third-level-menu {
			position: absolute;
			top: 0;
			right: -150px;
			list-style: none;
			padding: 0;
			margin: 0;
			display: none;
		}

		.third-level-menu>li {
			height: 30px;
			background: #999999;
		}

		.third-level-menu>li:hover {
			background: #CCCCCC;
		}

		.second-level-menu {
			position: absolute;
			top: 30px;
			left: 0;
			width: 100%;
			list-style: none;
			padding: 0;
			margin: 0;
			display: none;
		}

		.second-level-menu>li {
			position: relative;
			height: 30px;
			background: #999999;
		}

		.second-level-menu>li:hover {
			background: #aaa9a9;
		}

		.top-level-menu {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		.top-level-menu>li {
			position: relative;
			float: left;
			height: 30px;
			width: 150px;
			background: #999999;
		}

		.top-level-menu>li:hover {
			background: #706e6e;
		}

		.top-level-menu li:hover>ul {
			/* On hover, display the next level's menu */
			display: inline;
			z-index: 10;
		}


		/* Menu Link Styles */

		.top-level-menu a

		/* Apply to all links inside the multi-level menu */
			{
			font: bold 14px Arial, Helvetica, sans-serif;
			color: #FFFFFF;
			text-decoration: none;
			padding: 0 0 0 10px;

			/* Make the link cover the entire list item-container */
			display: block;
			line-height: 30px;

		}

		.top-level-menu a:hover {
			color: #000000;
		}
	</style>
</head>

<body>
	<header>
		<div>
			<nav class="navbar navbar-expand-lg navbar-light ">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
					aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
					<a class="navbar-brand text-white" href="#">LOGO</a>
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					
						<ul class="top-level-menu">
							<li><a href="#">Home</a></li>
							<li>
								<a href="#">BioServices</a>
								<ul class="second-level-menu">
									<li>
										<a href="#">DNA Xperts </a>
										<ul class="third-level-menu">
											<li><a href="https://www.dnaxperts.com/next-generation-sequencing-services">Next Generation Sequencing Services</a></li>
											<li><a href="https://www.dnaxperts.com/qpcr-services/">QPCR Services</a></li>
											<li><a href="https://www.dnaxperts.com/proteomics-services/">Proteomics Services</a></li>
											<li><a href="https://www.dnaxperts.com/metabolomics-services/">Metabolomics Services</a></li>
											<li><a href="https://www.dnaxperts.com/lipidomics-services/">Lipidomics Services</a></li>
											<li><a href="https://www.dnaxperts.com/glycomics-services/">Glycomics Services</a></li>
											<li><a href="https://www.dnaxperts.com/flow-cytometry/">Flow Cytometry Services</a></li>
											<li><a href="https://www.dnaxperts.com/bioinformatic-services/">Bioinformatic Services</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Medgenome</a>
										<ul class="third-level-menu">
											<li><a href="#">Single Cell Sequencing</a></li>
											<li><a href="#">TCR Sequencing</a></li>
											<li><a href="#">BCR Sequencing</a></li>
											<li><a href="#">RNA Sequencing</a></li>
											<li><a href="#">Whole Exome/Targeted Sequencing</a></li>
											<li><a href="#">Epigenetic Sequencing</a></li>
											<li><a href="#">Single Cell Analysis</a></li>
											<li><a href="#">TCR Repertoire Analysis</a></li>
											<li><a href="#">Transcriptome Analysis</a></li>
											<li><a href="#">Genomic Analysis</a></li>
											<li><a href="#">Immuno Oncology Solutions</a></li>
											<li><a href="#">Tumor Microenvironment Analysis</a></li>
											<li><a href="#">Immune Profiling Services</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Xelris</a>
										<ul class="third-level-menu">
											<li><a href="#">Sanger Sequencing</a></li>
											<li><a href="#">Proteomics Services</a></li>
											<li><a href="#">Next Generation Sequencing</a></li>
											<li><a href="#">Livestock Genetic Testing</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="#">Contact</a></li>
						</ul>
					</ul>
			</nav>

			<nav class="navbar navbar-expand-lg navbar-light " style="background-image:url(./../static/bg.jpg);">

				<form class="form-inline my-2 my-lg-0" method="POST" action="/recommend">
					<row style="padding: 30px;">
						<input type="text" required="required" name="Title"
							placeholder="Enter your Search Product"><br><br>
					</row>
					<row>
						<input type="checkbox" id="Loba Chemle" name="Loba Chemle">
						<label for="Loba Chemle"
							style="color: rgb(238, 255, 0);font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger;">Loba
							Chemle</label>

						<div style="padding: 20px;">
							<input type="checkbox" id="HIMEDIA" name="HIMEDIA">
							<label for="HIMEDIA" style="color: rgb(238, 255, 0);">HIMEDIA</label>
						</div>
					</row>
					<row>
						<div style="padding: 20px;">
							<input type="checkbox" id="BR Biochem Life Sciences" name="BR Biochem Life Sciences">
							<label for="BR Biochem Life Sciences" style="color:rgb(238, 255, 0);">BR Biochem Life
								Sciences</label>
						</div>

						<div style="padding: 20px;">
							<input type="checkbox" id="Aura Biotech" name="Aura Biotech">
							<label for="Aura Biotech" style="color: rgb(238, 255, 0);">Aura Biotech</label>
						</div>
					</row>
					<row>
						<div style="padding: 20px;">
							<input type="checkbox" id="KT Labs" name="KT Labs">
							<label for="KT Labs" style="color: rgb(238, 255, 0);">KT Labs</label>
						</div>

						<div style="padding: 20px;">
							<input type="checkbox" id="Bangalore GeNel" name="Bangalore GeNel">
							<label for="Bangalore GeNel" style="color: rgb(238, 255, 0);">Bangalore GeNel</label>
						</div>
					</row>
					<row>
						<div style="padding: 20px;">
							<input type="checkbox" id="MERCK MILLIPORE" name="MERCK MILLIPORE">
							<label for="MERCK MILLIPORE" style="color: rgb(238, 255, 0);">MERCK MILLIPORE</label>
						</div>

						<div style="padding: 20px;">
							<input type="checkbox" id="CYBERLAB" name="CYBERLAB">
							<label for="CYBERLAB" style="color: rgb(238, 255, 0);">CYBERLAB</label>
						</div>
					</row>
					<row>
						<div style="padding: 20px;">
							<input type="checkbox" id="SigmaAldrich" name="SigmaAldrich">
							<label for="SigmaAldrich" style="color: rgb(238, 255, 0);">Sigma Aldrich</label>
						</div>
					</row>
					<row>
						<row>
							<input type="submit" value="Search">
						</row>
					</row>

				</form>
		</div>
		</nav>
		</div>
	</header>
	<!-- Indicators -->
	<div class="container">
		<div id="demo" class="carousel slide" data-ride="carousel">
			<ul class="carousel-indicators">
				<li data-target="#demo" data-slide-to="0" class="active"></li>
				<li data-target="#demo" data-slide-to="1"></li>
				<li data-target="#demo" data-slide-to="2"></li>
			</ul>
			<!-- The slideshow -->

			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="../static/3.jpg" alt="3.jpg" width="200" height="150">
				</div>
				<div class="carousel-item">
					<img src="../static/2.jpg" alt="2.jpg" width="200" height="150">
				</div>
				<div class="carousel-item">
					<img src="../static/1.jpg" alt="1.jpg" width="200" height="150">
				</div>
			</div>
			<!-- Left and right controls -->
			<a class="carousel-control-prev" href="#demo" data-slide="prev">
				<span class="carousel-control-prev-icon"></span>
			</a>
			<a class="carousel-control-next" href="#demo" data-slide="next">
				<span class="carousel-control-next-icon"></span>
			</a>
		</div>

		<!-- footer -->
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<div class="footer">
					<div class="wrapper8">
						<div class="col1">
							<p
								style="text-decoration: none; font-family: 'Montserrat', sans-serif; color: #111; font-size: 30px; padding-bottom: 18px;">
								<b>BioCentric</b></p>
							<a href="#"
								style="text-decoration: none; font-family: 'Montserrat', sans-serif; color: #959595; font-size: 17px;">team@biocentric.com</a>
							<div class="icons" style="padding-bottom: 20px;">
								<a href="#"><img src="./static/facebook.png" class="social-media"></a>
								<a href="#"><img src="./static/twitter.png" class="social-media"></a>
								<a href="#"><img src="./static/instagram.png" class="social-media"></a>
							</div>
							<button class="join-btn" onClick="window.location.href = '';"
								style="font-size: 15px;">Join
								Us</button>
							<p
								style="text-decoration: none; font-family: 'Montserrat', sans-serif; color: #be1919; font-size: 12px; padding-top: 10px;">
								&#169; Get Best Offers</p>
						</div>
						<div class="col2">
							<p
								style="text-decoration: none; font-family: 'Montserrat', sans-serif; color: #111; font-size: 16px; padding-bottom: 18px;">
								Brands We Compare</p>
							<p style="line-height: 27px;">
								<a href="#" class="links">Himedia</a><br>
								<a href="#" class="links">Santa Cruz</a><br>
								<a href="#" class="links">Merck</a><br>
								<a href="#" class="links">Thermal Fischer</a><br>
							</p>
						</div>
						<div class="col3">
							<p
								style="text-decoration: none; font-family: 'Montserrat', sans-serif; color: #111; font-size: 16px; padding-bottom: 18px;">
								Policies</p>
							<p style="line-height: 27px;">
								<a href="#" class="links">Terms of Use</a><br>
								<a href="#" class="links">Privacy Policy</a><br>
								<a href="#" class="links">Terms of Use</a><br>
								<a href="#" class="links">Disclaimer</a><br>
								<a href="#" class="links">FAQ</a><br>
							</p>
						</div>
						<div class="col4">
							<iframe src="https://www.youtube-nocookie.com/embed/flDGjBqR1GI" frameborder="0"
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen class="video"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
	</script>
</body>

</html>
