<!DOCTYPE html>
<head>
    <title>Zelus-AF</title>
    <script src="https://unpkg.com/scrollreveal@4"></script>
    <link href="../static/styles/styles.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" type="image/png" href="static/logo.png"/>
</head>
<body class=bg>
<h1 class="heading1">Zelus-AF</h1>
<section id="form" class="try">
    <form method="POST" action="/recommend">
        <input type="text" required="required" name="Title" placeholder=" Enter your Search Product"><br><br>
        <input type="submit" value="Lets Start Shopping!!"></form>
</section>
<script> ScrollReveal().reveal('.try');
ScrollReveal().reveal('.heading1');</script>
<br>
